# deps
**/node_modules/

# build outputs
/dist/
**/dist/

# uploads
**/uploads/

# python
**/__pycache__/
**/*.pyc
**/.venv/

# env files
.env
.env.*

# logs
*.log

# misc
.DS_Store
old.dump
/package-lock.json
frontend/cookies.txt
